/* Section */
.section {
  width:100%;
}

.section h2 {
  margin-bottom: 20px;
}

.section .items {
  display: flex;
  gap: 30px;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding-bottom: 10px; /* Add padding at the bottom to ensure space for scrollbar */
}

.section .items {
  text-align: center;
}

.section .items .item img {
  width: 430px;
  border-radius: 10px;
}

.section .items .item h1 {
  margin: 10px 0;
}

.section .items .item p {
  color: var(--text-color);
}
@media (max-width:720px){
  .section .items .item img {
  width: 230px;
  border-radius: 10px;
}
}