:root {
  --primary-color: #fdfdfb ; /* Navy Blue */
  --secondary-color: #232323 ; /* White */
  --accent-color: #7db5ed; /* Coral */
  --neutral-color: #F4F4F4; /* Light Gray */
  --tap-background: #b2b2b2 ;
  --font-inter-400-16:500 16px Poppins , Sans-Serif;

}
